@import url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow');

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'PT Sans Narrow';
    font-size: 0.8rem;
    background-color: #ffff77;
}

header {
  text-align: center;
  background-image: url(images/cat-wallper-pattern-seamless.jpg);
  line-height: 180px;
  vertical-align: middle;
  border: 1px solid black;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.masthead {
    margin-bottom: 2em;
    border: none;
}


nav {
    background-color: #ffff55;
}

ul {
  font-size: 150%;
  padding: 0;
  margin: 0;
  width: 100%;
}

section {
  margin: 0;
  width: 100%
}

aside {
  padding: 0;
  margin: 0;
  width: 100%;
}

footer {
  clear: both;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 75%;
  font-weight: bold;
}

img {
  max-width: 100%;
}

p, h2, h3 {
  padding: 0 1rem;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%; 
}

p {
    line-height: 1.5;
}

li {
  list-style: none;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
}

li a {
  text-decoration: none;
  color: #ff00ff;
}

li:hover {
  background-color: #ffff88;
}


@media screen and (min-width: 35em) and (max-width: 60em) {
  body {
    font-size: 1.0rem;      
  }
  nav {
    width: 100%;
  }
    li {
    background-color: #ffff55;
  }
  section {
    float: left;
    width: 63%;
  }
  aside {
    float: left;
     width: 37%;
  }
  li {
    float: left;
    width: 25%;
  }
}

@media screen and (min-width: 60em) {
  body {
    font-size: 1.5rem;      
  }
  .wrapper {
    max-width: 1600px;
  }
  nav {
    float: left;
    width: 25%;
    background-image: url(images/cat-wallpaper-background-pink.jpg);
  }
  section {
    float: left;
    width: 50%;
    padding: 0 1em;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  aside {
    float: left;
    width: 25%;
  }
}